/*reset CSS */
*{
    /*emmet*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

/*
1. từ ngoài vào trong
2. từ trên xuống dưới
3, từ tổng quan đến khái quát
*/
/*
1. vị trí
2. kích thước
3. kiểu dáng(hình tròn , vuông , kiểu chữ ,...)
*/

/* common */

.clear {
    clear: both;
}

.text-white {
    color: white !important;
    /* tạo class text-white để làm trắng chữ khi cần ưu tiên nhất */
}

.text-center{
    text-align: center !important;
}

.mt-8{
    margin-top: 8px !important;
}

.mt-16{
    margin-top: 16px !important;
}

.mt-32{
    margin-top: 32px !important;
}


.btn{
    color: #fff;
    background-color: black;
    padding: 10px 17px;
    display: inline-block;
    text-decoration: none;
    margin-top: 15px;
    border: none;
}

.btn:hover{
    cursor: pointer;
    color: #333;
    background-color: #ccc;
}

.pull-right{
    float: right ;
}

.row{
    margin-left: -8px;
    margin-right: -8px;
}

.row::after{
    content: "";
    display: block;
    clear: both;
}

.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-thirds {
    width: 33.33333%;
}

.col-half {
    width: 50%;
}

.col-full {
    width: 100%;
}

/* main */

/* #main{

} */
#header{
    position: fixed;
    /*set top de dam bao moi trinh duyet deu bang 0*/    
    top: 0;
    left: 0;
    right: 0;
    height: 46.5px;
    background-color: #000;
    /*de giu header ko bi anh che mat */
    z-index: 1;
}

#nav{
    display: inline-block;
}

#nav , .subnav {
    list-style-type: none;
}

#nav > li{
    display: inline-block;
}

#nav  li{
    position: relative;
}

#nav > li > a{
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    line-height: 46.5px;
    /* điều chỉnh chiều cao chữ để căn giữa */
    padding: 0 24px;
    /* điều chỉnh để khoảng cách các chữ được căn cả hai bên đẹp hơn */
    text-decoration: none;
    /* loại bỏ gạch chân ở dưới */
    font-family: Arial, Helvetica, sans-serif;
    /* điều chỉnh font chữ */
    display: inline-block;
}

#nav .subnav a {
    color: #000;
    /* chỉnh màu menu có bên trong more */
    padding: 0 16px;
    line-height: 38.5px;
    display: block;
}

#nav li:hover .subnav{
    display: block;
    /* tạo khối khi trỏ chuột vào More */
}

#nav > li:hover > a ,
#nav  .subnav  li:hover  a {
    color: #000;
    /* chữ more được tô màu đen khi hover vào */
    background-color: #ccc;
    /* Khối more được hover background màu ccc khi Hover vào */
    width: 100%;
    /* để chiều dài hover được bao phủ hết khối khi được hover vào */
}

#nav .subnav{
     display: none;
      /*để khối menu trong more được ẩn đi  */
     background-color: #fff;
     /* chỉnh background cho menu trong more */
     min-width: 160px;
     /* điểu chỉnh chiều ngang của khố menu tối thiểu là 160px */
     position: absolute;
     top: 100%;
     left: 0;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
     /* Tạo hiệu ứng đổ bóng khi hover vào  more*/
}

#nav .nav-class-arrow{
    font-size: 14px;
    /* kích cỡ của mũi tên là 14px */
}
#header .mobile-menu-btn{
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
    
#header .mobile-menu-btn,
#header .search-btn{
    float: right;
    /* điều chỉnh search btn nằm bên phải của browser */
    padding: 0 23px;
    /* đệm thêm viền cho btn */
    
}

#header .search-btn:hover{
    cursor: pointer;
    /* con trỏ chuột khi hover vào search btn sẽ chuyển thành dạng pointer */
    background-color: #f44336;
    /* setup background of search btn is #f44336 */
}

#header .mobile-menu-btn:hover {
    background-color: #ccc;
}

#header .mobile-menu-btn:hover .ti-menu  {
    color: #000;
}

#header .ti-menu,
#header .search-icon{
    font-size: 20px;
    color: #fff;
    line-height: 46px;
}

#slider{
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    /* padding-top dung de dieu chinh cho slider co chieu cao luon bang mot nua chieu rong */
    background: url('/W3_School_band/assets/img/Slider/Slider1.jpg') top center / cover no-repeat;
}
#slider .text-content{
    position: absolute;
    bottom: 47px ;
    /* kéo chữ chicago lên 47px */
    color: #fff ;
    /* cach1 */
    /* left: 50%;
    transform: translateX(-50%); */
    /* cach2 */
    /* right: 0;
    left: 0; */
    width: 100%;
    /* căn center với 100% độ dài */
    text-align: center;
}

#slider .text-heading{
    font-weight: 500;
    /* điều chỉnh độ dày của chữ */
    font-size: 24px;
}

#slider .text-description{
    font-size: 15px;
    margin-top: 25px;
}


/* #content{

} */

#content .content-section{
    width: 800px;
    /* kéo thêm bề rộng của content */
    max-width: 100%;
    /* chiều rộng tối đa là 100% màn hình khi sang tablets đỡ bị dư vì max-width mạnh hơn width */
    padding: 64px 0px 112px;
    /* padding cho content 64px */
    margin-left: auto;
    margin-right: auto;    
    /* Chỉnh sửa cho phần của tablets */
    padding-left: 16px;
    padding-right: 16px;
}

#content .section-heading{
    font-size: 30px;
    font-weight: 500;
    /* do dày cua chu */
    text-align: center;
    /* căm giữa chữ The Band */
    letter-spacing: 4px;
    /* khoang cach giua cac chu */
}

#content .section-sub-heading{
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    opacity: 0.6;
    /* lam mo chu */
    font-style: italic;
    /* in nghieng */
}

#content .section-about{
    font-size: 15px;
    margin-top: 25px;
    text-align: justify;
    /* can giua hai ben chu thang hang */
    line-height: 1.4;
    /* khoang cach giua cac dong */
}

#content .members-list{
    margin-top: 32px;
}


#content .member-name {
    font-size: 15px;
}

#content .member-img{
    margin-top: 15px;
    width: 154px ;
    border-radius: 4px;
    /* bo tron hinh anh */
}
/* Tour Section */
.tour-section {
    background-color: #000;
}

.ticket-list {
    background-color: #fff;
    margin-top: 40px;
}

.ticket-list li {
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    font-family: sans-serif;
    list-style: none;
}

.ticket-list .sold-out {
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}

.ticket-list .quantity {
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    border-radius: 51%;
    color: #fff;
    text-align: center;
    line-height: 24px;
    margin-top: -2px;
}

/* Places */

.places-list{
    margin-top: 16px ;
}


.place-img{
    width: 100%;
    display: block;
}

.place-img:hover{
    opacity: 0.6;
}

.place-body{
    background-color: #fff;
    font-size: 15px;
    padding: 16px;
}

.heading{
    margin-top: 15px;
    font-size: 15px;
    font-weight: 600;
}

.place-time{
    margin-top: 15px;
    color: #757575;    
}

.place-desc{
    margin-top: 15px;
    line-height: 1.4;
}





/* model */

.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal-container {
    background: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modalFadein ease .6s;
}

.modal-header {
    background: #009688;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}

.modal-header-icon{
    margin-right: 16px;
}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 16px;
    cursor: pointer;
    opacity: 0.9;
}

.modal-close:hover {
    opacity: 1;
}

.modal-body {
    padding: 16px;
}


.modal-lable {
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}

.modal-input {
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;
}

#pay-btn:hover {
    opacity: 0.8;
}

#pay-btn {
    background: #009688;
    border: none;
    width: 100%;
    font-size: 15px;
    color: #fff;
    padding: 18px;
    cursor: pointer;
}

.modal-footer {
    padding: 16px;
    text-align: right;
}

.modal-footer a{
    color: #2196F3 ;
}

.modal.open {
    display: flex;
}

@keyframes modalFadein{
    from{
        opacity: 0;
        transform: translateY(-130px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

/* contact */

.content-contact {
    margin-top: 48px;
}

.contact-info {
    font-size: 18px;
}

.contact-info i[class*="ti-"]{
    width: 30px;
    display: inline-block;
    line-height: 1.5;
}

.contact-info a {
    color: #0000ee;
    opacity: 0.8;
}

.contact-info a:hover {
    opacity: 1;
}

.contact-form{
    font-size: 15px;
}

.contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

/* map section */

.map-section img {
    width: 100%;
}

#footer{
    padding: 64px 16px;
    text-align: center;
}

#footer .socials-list{
    font-size: 24px;
}

#footer .socials-list a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

#footer .copyright a:hover,
#footer .socials-list a:hover{
    color: rgba(0, 0, 0, 0.4) ;
}

#footer .copyright{
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);
}

#footer .copyright a{
    color: rgba(0, 0, 0, 0.6);
}